@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95), #f0f0f0);
  min-height: 100vh;
}
